# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask
Flask-WTF
Flask-Bootstrap4

# Mongo driver
pymongo
dnspython

# Environment file handling
python-dotenv

# Embedding model
sentence-transformers
InstructorEmbedding

# LLM model
llama-cpp-python