# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==3.0.2
Flask-WTF==1.2.1
Flask-Bootstrap4==4.0.2

# Mongo driver
pymongo==4.6.1
dnspython==2.6.1

# Environment file handling
python-dotenv==1.0.1

# God why...
huggingface_hub==0.24.7

# Embedding model
sentence-transformers==2.2.2
InstructorEmbedding==1.0.1

# LLM model
llama_cpp_python==0.2.44
