{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<style>
    body {
        background: #e8f1f9;
    }
</style>
{% endblock %}


{% block title %}
RAGTAG - Edit Chunk
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

            <h1 class="pt-5 pb-2">Create New Chunk</h1>

            <nav class="nav">
                <a class="nav-link active" aria-current="page" href="/">Chunk View</a>
            </nav>

            <p class="lead">Question and answer is required</p>

            {{ wtf.quick_form(form) }}

        </div>
    </div>
</div>

{% endblock %}