{% extends 'ragtag_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-10 mx-lg-auto mx-md-auto">

            <h1 class="pt-5 pb-2">Chunk List</h1>

            {{ wtf.quick_form(form) }}

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Token Count</th>
                        <th>Enabled</th>
                        <th>Disable</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody>
                    {% for chunk in chunks %}
                    <tr>
                        <td><a href="chunk/{{ chunk._id}}">{{ chunk.chunk_question }}</a></td>
                        <td>{{ chunk.chunk_answer }}</td>
                        <td>{{ chunk.chunk_tokens }} / 512</td>
                        <td>{{ chunk.chunk_enabled }}</td>
                        <td><a href="chunk_disable/{{ chunk._id}}">O</a></td>
                        <td><a href="chunk_delete/{{ chunk._id}}">X</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}